/*
 * GLOBAL STYLES & VARIABLES
 */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Color Variables */
    --primary: #7d58fc;
    --primary__li: rgba(128, 90, 252, 0.7);
    --primary__li-2: rgba(128, 90, 252, 0.15);
    --primary__black: #222831;
    --primary__black-2: #393e46;
    --primary__black-li: #22283180;
    --primary__gray: #b3b3b3;
    --primary__white: #EEEEEE;

    /* Font Variables */
    --primary__font: 'Source Code Pro', monospace;
}

/* 
 * Base Styles
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--primary__font);
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 290px;
    color: var(--primary__white);
    background-color: var(--primary__black);
    line-height: 1.5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main > * {
    max-width: 1000px;
    width: 100%;
}

/* 
 * Utility Classes
 */

.primary-btn {
    margin: 25px 20px;
    padding: 10px 15px;
    background-color: var(--primary__li-2);
    border: 2px solid var(--primary);
    border-radius: 10px;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: var(--primary__white);
    
    cursor: pointer;
    transition: background-color 0.3s ease-out;
}

.primary-btn:hover {
    background-color: var(--primary__li);
}

/* 
 * Reset Styles
 */

li {
    list-style: none;
}

a {
    color: var(--primary__white);
    text-decoration: none;
}

/*
 * LAYOUT COMPONENTS
 */

/* 
 * Header Styles
 */

header {
    padding: 10px 140px;
    background-color: rgba(34, 40, 49, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header__logo-container {
    width: 60px;
    height: 40px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo {
    width: 200%;
    object-position: center;

    pointer-events: none;
}


/* 
 * Navigation
 */

.header__nav {
    font-weight: 400;
}

.header__nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header__nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: var(--primary__white);
    transition: color 0.3s ease-out;
}

.header__nav-link:hover {
    color: var(--primary);
}

/* 
 * Hero Section
 */

.hero {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.hero__title {
    margin-bottom: 20px;
    word-wrap: break-word;
}

.hero__email {
    padding: 10px 15px;
    max-width: 275px;
    width: 100%;

    border-radius: 10px;
    border: 2px solid var(--primary);

    background-color: var(--primary__black-li);
    color: var(--primary__white);
}

/* 
 * Features Section
 */

.features {
    margin-top: 30px;
    padding: 0 40px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.features > *:not(:first-child) {
    margin-top: 30px;
}

.features__card {
    display: flex;
    align-items: flex-start;
}

.features__icon {
    margin-top: 15px;
    margin-right: 10px;
    width: 10vw;
    color: var(--primary);
}

.features__text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    padding: 5px;
}

/* 
 * How It Works Section
 */

.preview {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.preview > iframe {
    width: 100%;
    max-width: 560px;
}

/* 
 * Pricing Section
 */

.pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pricing__card {
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease-out;
}

.pricing__card:hover {
    transform: scale(1.05);
}

.pricing__card-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pricing__card-title {
    padding: 15px 0;
    width: 100%;
    background-color: var(--primary);
    color: var(--primary__white);
    text-transform: uppercase;
    font-weight: 700;
}

.pricing__card-price {
    margin-top: 15px;
}

.pricing__card-captions {
    padding: 0 30px;
}

.pricing__card-slogan {
    margin: 15px 0 0;
    font-weight: 500;
}

.pricing__card-desc {
    margin-top: 10px;
    font-size: 14px;
}

/* 
 * Footer
 */

footer {
    margin-top: 30px;
    padding: 20px;
    border-top: 2px solid var(--primary);
    background-color: var(--primary__black-li);
}

.footer__links {
    display: flex;
    justify-content: flex-end;
}

.footer__link {
    padding: 0 10px;
    transition: color 0.3s ease-out;
}

.footer__link:hover {
    color: var(--primary);
}

footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
    color: var(--primary__gray);
}

/*
 * MEDIA QUERIES
 */

@media (max-width: 1220px) {
    .nav-link {
        font-size: 18px;
    }
}

@media (max-width: 1020px) {
    .header__nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }

    .header__nav > ul {
        flex-direction: column;
    }

    .header__nav-link {
        padding-bottom: 5px;
    }
}

@media (max-width: 800px) {
    .pricing {
        flex-direction: column;
    }

    .pricing__card {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

@media (max-width: 600px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .header__nav {
        margin-top: 5px;
    }
    
    .hero {
        margin-top: 50px;
    }
}

@media (max-width: 550px) {
    .features__icon {
        display: none;
    }

    .features__text-content {
        width: 100%;
        text-align: center;
        padding: 0;
        height: 150px;
    }

    .features__desc h2 {
        font-size: 24px;
    }

    .features__desc p {
        font-size: 16px;
    }
}